body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: red;
}

img.bookcover {
    height: 300px;
    width: auto;
}

.github-icon {
    height: 30px;
    transition: .15s;
}

.github-icon:hover {
    transform: scale(110%, 110%);
}